In [47]:
# Highlight Excel Differences

# Reference Script : https://matthewkudija.com/blog/2018/07/21/excel-diff/

In [ ]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [48]:
# Titanic Negative Case - With some Mismatch Records

titanic_negative_source = "D:\\Projects\\Cadent\\Cadent_BigDataTesting_Automation\\Demo\\Script_without_UDF\\Data_Files\\Titanic\\Titanic_Highlight_Differences\\HD_Input\\Titanic_Source.xls"
titanic_negative_target = "D:\\Projects\\Cadent\\Cadent_BigDataTesting_Automation\\Demo\\Script_without_UDF\\Data_Files\\Titanic\\Titanic_Highlight_Differences\\HD_Input\\Titanic_Target.xls"
titanic_negative_mismatch = "D:\\Projects\\Cadent\\Cadent_BigDataTesting_Automation\\Demo\\Script_without_UDF\\Data_Files\\Titanic\\Titanic_Highlight_Differences\\HD_Output\\Titanic_Highlight_Difference.xls"

In [49]:
# Reading 'Source' data

source_n = pd.read_excel(titanic_negative_source, sheet_name = 'titanic_source').fillna(0)
print(source_n)

       pid pclass  survived                                             name  \
0        1    S_1         1                    Allen, Miss. Elisabeth Walton
1        2    S_1         1                   Allison, Master. Hudson Trevor
2        3    S_1         0                     Allison, Miss. Helen Loraine
3        4    S_1         0             Allison, Mr. Hudson Joshua Creighton
4        5    S_1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...    ...    ...       ...                                              ...
1304  1305      3         0                             Zabour, Miss. Hileni
1305  1306      3         0                            Zabour, Miss. Thamine
1306  1307      3         0                        Zakarian, Mr. Mapriededer
1307  1308      3         0                              Zakarian, Mr. Ortin
1308  1309      3         0                               Zimmerman, Mr. Leo

      gender      age  sibsp  parch  ticket      fare    cabin embarked boat  \
0       male  29.0000      0      0   24160  211.3375       B5      S_S    2
1       male   0.9167      1      2  113781  151.5500  C22 C26      S_S   11
2       male   2.0000      1      2  113781  151.5500  C22 C26      S_S    0
3       male  30.0000      1      2  113781  151.5500  C22 C26      S_S    0
4       male  25.0000      1      2  113781  151.5500  C22 C26      S_S    0
...      ...      ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5000      1      0    2665   14.4542        0        C    0
1305  female   0.0000      1      0    2665   14.4542        0        C    0
1306    male  26.5000      0      0    2656    7.2250        0        C    0
1307    male  27.0000      0      0    2670    7.2250        0        C    0
1308    male  29.0000      0      0  315082    7.8750        0        S    0

       body                        home.dest
0       0.0                     St Louis, MO
1       0.0  Montreal, PQ / Chesterville, ON
2       0.0  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       0.0  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                                0
1305    0.0                                0
1306  304.0                                0
1307    0.0                                0
1308    0.0                                0

[1309 rows x 15 columns]

In [50]:
# Reading 'Target' data

target_n = pd.read_excel(titanic_negative_target, sheet_name = 'titanic_target').fillna(0)
print(target_n)

       pid pclass  survived                                             name  \
0        1    T_1         1                    Allen, Miss. Elisabeth Walton
1        2    T_1         1                   Allison, Master. Hudson Trevor
2        3    T_1         0                     Allison, Miss. Helen Loraine
3        4    T_1         0             Allison, Mr. Hudson Joshua Creighton
4        5    T_1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...    ...    ...       ...                                              ...
1304  1305      3         0                             Zabour, Miss. Hileni
1305  1306      3         0                            Zabour, Miss. Thamine
1306  1307      3         0                        Zakarian, Mr. Mapriededer
1307  1308      3         0                              Zakarian, Mr. Ortin
1308  1309      3         0                               Zimmerman, Mr. Leo

      gender      age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.0000      0      0   24160  211.3375       B5      T_S    2
1     female   0.9167      1      2  113781  151.5500  C22 C26      T_S   11
2     female   2.0000      1      2  113781  151.5500  C22 C26      T_S    0
3     female  30.0000      1      2  113781  151.5500  C22 C26      T_S    0
4     female  25.0000      1      2  113781  151.5500  C22 C26      T_S    0
...      ...      ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5000      1      0    2665   14.4542        0        C    0
1305  female   0.0000      1      0    2665   14.4542        0        C    0
1306    male  26.5000      0      0    2656    7.2250        0        C    0
1307    male  27.0000      0      0    2670    7.2250        0        C    0
1308    male  29.0000      0      0  315082    7.8750        0        S    0

       body                        home.dest
0       0.0                     St Louis, MO
1       0.0  Montreal, PQ / Chesterville, ON
2       0.0  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       0.0  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                                0
1305    0.0                                0
1306  304.0                                0
1307    0.0                                0
1308    0.0                                0

[1309 rows x 15 columns]

In [51]:
# Verify both Source & Target were Equal or not

source_n.equals(target_n)

False

In [52]:
# Source minus Target & Highlight Difference

source_minus_target = source_n.copy()
for row in range(source_minus_target.shape[0]):
    for col in range(source_minus_target.shape[1]):
        value_OLD = source_n.iloc[row,col]
        try:
            value_NEW = target_n.iloc[row,col]
            if value_OLD==value_NEW:
                source_minus_target.iloc[row,col] = target_n.iloc[row,col]
            else:
                source_minus_target.iloc[row,col] = ('{} => {}').format(value_OLD,value_NEW)
        except:
            source_minus_target.iloc[row,col] = ('{} => {}').format(value_OLD, 'NaN')

In [32]:
# Writing Dataframe to a file

writer = ExcelWriter(titanic_negative_mismatch)
source_minus_target.to_excel(writer, "Source_minus_Target")
writer.save()

In [ ]:
# Till this point, code is working fine. Issues with the below code

In [53]:
# writer = pd.ExcelWriter(fname, engine='xlsxwriter')

writer = ExcelWriter(titanic_negative_mismatch)
source_minus_target.to_excel(writer, sheet_name="Source_minus_Target", index=False)
# target_n.to_excel(writer, sheet_name = titanic_negative_source.stem, index=False)
# source_n.to_excel(writer, sheet_name = titanic_negative_target.stem, index=False)
writer.save()

In [8]:
# Applying Formates & Colors

Workbook  = writer.book
Worksheet = writer.sheets['Source_minus_Target']
Worksheet.hide_gridlines(2)

# Define format for - unCHANGED cells

grey_fmt = workbook.add_format({'font_color': '#E0E0E0'}) 

# Define format for - CHANGED cells

highlight_fmt = workbook.add_format({'font_color': '#FF0000', 'bg_color':'#B1B3B3'})

AttributeError: 'Worksheet' object has no attribute 'hide_gridlines'

In [ ]:
#  Highlight CHANGED cells

worksheet.conditional_format('A1:ZZ1000', {'type': 'text',
                                        'criteria': 'containing',
                                        'value':'→',
                                        'format': highlight_fmt})
# Highlight unCHANGED cells

worksheet.conditional_format('A1:ZZ1000', {'type': 'text',
                                        'criteria': 'not containing',
                                        'value':'→',
                                        'format': grey_fmt})
writer.save()